body {
    margin: 0px;
    font-family: Montserrat, sans-serif;
}

ul {
    margin-top: 0px;
}

img {
    max-height: 500px;
    max-width: 800px;
}

/* Footer et header */

header > h1{	
    font-family:  fangsong;
    position: relative;
    text-align: center;
    margin: 0px;
    font-size: 40px;
    font-style: italic;
    background-color: #00549F;
    color: #fff;
    padding: 1.5% 0%;
}

h1.index {
    font-size: 60px;
}

header{	
    background-image: url(../img/accueil1_1.jpg);
    background-size: cover;
}

header.accueil {
    padding-top: 20%;
}


article.intro > h2{
    text-align: center;
    font-size: 45px;
    color: #00549F;
    padding: 5% 0%;
}
article.intro > p{
    font-size: 25px;
}

footer{
    position: relative;
    text-align: justify;
    justify-content: left;
    padding: 5px;
    padding-left: 15%;
    background-color: #00549F ;
    color: #fff;
    font-size: 17px;
    bottom: 0; left: 0; right: 0;
}

footer > p {
    position: relative;
    text-align: justify;
    justify-content: left;
    padding-left: 2%;
}

footer  a {
    color:#fff;
}

footer.presentation {
    position:absolute;
}

/* Navigation */

nav{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 18px;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px 
        rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
    position: relative;
}


nav ul {
    list-style-type: none;
    padding-left: 0px;
}

nav > ul > li {
    background-color: white;
    height: 100%;
    padding: 2%;
    flex: 1;
    justify-content:center;
}

nav > ul > li > a {
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li > a {
    text-decoration: none;
    color: black;
}

.menu:hover > a:after {
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}


.sub-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    position: absolute;
}

.sub-menu > li > a {
    align-items: center;
    height: 50px;
    width: 100%;  
    display: flex;
    justify-content:center;
}

nav > ul > li:hover > a{
    color: #2169EC;
}

.sub-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}


.sub-menu > li:hover > a {
    color: white;
}

.sub-menu > ul > li:hover{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche{
    0% {
        tranfom: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}


.sub-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}

.sub-menu > li:hover > a {
    color: white;
}

.sub-menu {
    margin-top: var(--hauteur-menu);
    width: 16%;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: white;
}

.menu:hover > .sub-menu {
    animation: apparitionSub-Menu 1s forwards;
}

@keyframes apparitionSub-Menu {
    0% {
        box-shadow: 0px 3px 3px 1px 
            rgba(0,0,0,0);
        border-top: 3px solid #2169EC;
    }
    30% {
        box-shadow: 0px 3px 3px 1px 
            rgba(0,0,0,0.3);
    }
    100% {
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px 
            rgba(0,0,0,0.3);
    }
}

/*Affichage des biens*/

h2 {
    color: #00549F;
    font-size: 2em;
}

h2.titre_image {
    text-align: center;
    left: 0%;
    margin-top: 5%;
}

p {
    text-align: center;
}

article {
    margin: 5% 10%;
}

section.ligne  {
    display: flex;
    border-bottom: dashed slategrey;

}

section.colonne {
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
}

section.colonne h2 {
    text-align: center;
}

section img {
    max-width: 50%;
    height: auto;
    padding-bottom: 3%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Cache l'image par défaut */
.mySlides {
    display: none;
    width: 60%;
    position: relative;
    left: 20%;
}

/* Hauteur de l'image constante (presque)*/

.mySlides img {
    max-height: 400px;
}

/* Boutons suivant et précédent */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left:20%;
}

/* Position du bouton "suivant" */
.next {
    right: 20%;
    border-radius: 3px 0 0 3px;
}

/* Sur le survolement couleur différente */

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Indique quelle image est affichée avec les boutons du bas */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Animation de fade */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Bootstrap */

.text{
    text-align: justify;
    width: 25em;
}

.img-fluid{
    width: 100% \9;
    max-width: 800px;
    height: auto;
}

/* Table */

table.biens {
    margin: 1% 15%;
    border-collapse: collapse;
}

table.biens th {
    padding: 5px 5px;
    background-color:lightgrey;
    border-style: solid;
    justify-content: center;
}